{{#mol-howitworks-item}}
{{#items}}
<div class="col-12 hiw-i" data-aos="flip-up">

  <div class="hiw__main__item">
    {{#title}}
    <h3>{{{title}}}</h3>
    {{/title}}
    {{#description}}
    <p>
      {{{description}}}
    </br>
      <span>{{{span}}}</span>
    </p>
    {{/description}}
  </div>

</div>
{{/items}}
{{/mol-howitworks-item}}