{{#mol-whywe-item}}
{{#items}}
<div class="col-12 col-lg-4 col-md-4">
  <div class="whywe__main__item">
    {{#image}}
    <img src="{{{image}}}" alt="{{alt}}">
    {{/image}}

    {{#title}}
    <h3>{{{title}}}</h3>
    {{/title}}

    {{#description}}
    <p>{{{description}}}</p>
    {{/description}}
    
  </div>
</div>
{{/items}}
{{/mol-whywe-item}}