{{#mol-whywe-count-item}}
{{#items}}
<div class="col-12 col-lg-3 col-md-4">
  <div class="whywe-count__main__item {{{hide-block}}}">
    
    {{#title}}
    <h2>{{{title}}}</h2>
    {{/title}}

    {{#description}}
    <p>{{{description}}}</p>
    {{/description}}

  </div>
</div>
{{/items}}
{{/mol-whywe-count-item}}