body {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  overflow-x: hidden;
  overflow-y: hidden;
}

.margin-bottom-124 {
  margin-bottom: 124px;
}

.margin-bottom-112 {
  margin-bottom: 112px;
}


#name::placeholder {
  color: #757575;
  font-family: "tt-reg";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 19.2px;
}

#mail::placeholder {
  color: #757575;
  font-family: "tt-reg";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 19.2px;
}

#phone::placeholder {
  color: #757575;
  font-family: "tt-reg";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 19.2px;
}

#company-name::placeholder {
  color: #757575;
  font-family: "tt-reg";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 19.2px;
}

// #company-name {
//   border-bottom: 2px solid #ee4a4a !important;
// }

.form-block__main__form label.description-label {
  opacity: 0.54;
  color: #000000;
  font-family: "tt-reg";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  padding: 0;
  margin: 0 0 20px 0;
}


/* #Navigation
================================================== */
.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 0;
  transition: all 0.3s ease-out;
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #192DF5;
  transition: all .1s ease-in !important;
}

.scroll-on {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff !important;
}

.start-header.scroll-on .navbar-brand img {
  height: auto;
  transition: all 0.3s ease-out;
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  height: auto;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0 53px;
}

.navbar {
  padding: 0;
}

.navbar-brand img {
  height: auto;
  width: 100%;
  max-width: 80px;
  display: block;
  transition: all 0.3s ease-out;
}
.navbar-brand {
  margin-top: 4px;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.nav-link {
  font-weight: 400;
  transition: all .2s linear;
  font-family: 'tt-reg';
  color: #000000;
  font-size: 16px;
}

.nav-item:hover .nav-link {
  color: #192df5 !important;
}

.nav-item.active .nav-link {
  color: #192df5 !important;
}

.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}

.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #192df5;
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.nav-item.active:hover:after {
  opacity: 0;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
  margin-left: 62px !important;
}

/* #Primary style
================================================== */
.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}

.dropdown-toggle::after {
  display: none;
}

.nav-order {
  width: 100%;
  display: block;
  height: auto;
  max-width: 260px;
  margin-left: 35px;

  a {
    width: 100%;
    display: block;
    max-width: 259px;
    height: auto;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-color: #192df5;
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-family: 'tt-reg';
    font-weight: 900;

    &:hover {
      background-color: #fff;
      color: #192df5;
      transition: all .3s ease-in-out;
      border: 2px solid #192df5;
    }

    &:hover img {
      transform: scale(1.2);
      transition: all .3s ease-in-out;
    }

    img {
      width: 18px;
      height: 18px;
      position: relative;
      margin-right: 15px;
      transition: all .3s ease-in-out;
    }
  }
}

.home-portfolio {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 0;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__title {
      width: 100%;
      height: auto;
      position: relative;
      margin-bottom: 75px;
      z-index: 2;


      h2 {
        color: #000000;
        font-family: "tt-bold";
        font-size: 50px;
        font-weight: 900;
        line-height: 60px;
        margin: 0 0 30px 0;
      }
    }

    &__item-img {
      width: 100%;
      height: auto;
      position: relative;
      min-height: 440px;
      display: block;
      text-decoration: none;
      // box-shadow: 0 4px 16px rgba(0, 0, 0, 0.02), 0 100px 120px rgba(0, 0, 0, 0.05);

      &:before {
        content: "";
        width: 100%;
        height: auto;
        position: absolute;
        display: block;
        left: 7%;
        top: -16%;
        z-index: -1;
        width: 700px;
        height: 461px;
        background-image: url(../img/portfolio-after.png);
        background-repeat: no-repeat;
        background-size: contain;
      }

      img {
        // width: 100%;
        // height: auto;
        // max-height: 440px;
        object-fit: cover;
        width: 700px;
        height: 460px;
      }
    }

    &__item-info {
      width: 100%;
      height: auto;
      position: relative;

      h3 {
        color: #000000;
        font-family: "tt-bold";
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 0.5px;
        margin-bottom: 16px;
        line-height: 120%;
      }

      p {
        color: #4d4d4d;
        font-family: "tt-reg";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 27.9px;
        margin-bottom: 34px;
      }

      a {
        color: #192df5;
        font-family: "tt-bold";
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 0.2px;
        line-height: 19.2px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all .2s ease-in;
        text-decoration: none;

        &:hover img {
          margin-left: 22px;
          transition: all .2s ease-in;
        }

        img {
          width: 14px;
          height: 14px;
          position: relative;
          margin-left: 14px;
          transition: all .2s ease-in;
        }
      }
    }
  }
}

.row-reverse-style {
  display: flex;
  flex-direction: row-reverse;
}

.padding-bottom-100 {
  padding-bottom: 200px;
}

.padding-bottom-165 {
  padding-bottom: 165px;
}

.hiw {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 96px 0;
  margin-bottom: 150px;
  margin-top: 75px;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__title {
      width: 100%;
      height: auto;
      position: relative;
      text-align: center;

      h2 {
        color: #ffffff;
        font-family: "tt-bold";
        font-size: 50px;
        font-weight: 900;
        line-height: 60px;
        margin: 0 0 64px 0;
      }
    }

    &__item {
      width: 100%;
      height: auto;
      position: relative;
      text-align: center;

      &:after {
        content: '';
        width: 2px;
        height: 65px;
        color: #fff;
        background-color: #fff;
        position: relative;
        display: block;
        left: 0;
        bottom: 0;
        margin: 20px auto;
      }

      h3 {
        color: #ffffff;
        font-family: "tt-bold";
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 0.5px;
        line-height: 120%;
        margin-bottom: 8px;
      }

      p {
        color: #d3d3d3;
        font-family: "tt-reg";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 120%;
        max-width: 500px;
        margin: 0 auto;

        span {
          color: #d3d3d3;
          font-family: "tt-reg";
          font-size: 16px;
          font-weight: 900;
        }
      }
    }

    &__button {
      width: 100%;
      height: auto;
      text-align: center;
      position: relative;
      margin-top: 49px;

      a {
        background: transparent;
        border: none;
        margin: 0 auto;
        display: block;
        font-size: 20px;
        outline: none;
        position: relative;
        transition: 0.3s;
        padding: 10px;
        font-family: "tt-bold";
        font-size: 16px;
        font-weight: 900;
        color: #fff;
        max-width: 180px;
        text-decoration: none;

        &:before {
          content: '';
          border-bottom: 2px solid #2539ff;
          padding: 0 10px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 0;
          transition: 0.3s;
        }

        &:hover:before {
          width: 62%;
          padding: 0;
        }
      }
    }
  }
}

.hiw-i:nth-child(4) .hiw__main__item {
  &:after {
    content: '';
    display: none;
  }
}


.whywe {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin-bottom: 159px;
  margin-top: 194px;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__title {
      width: 100%;
      height: auto;
      position: relative;
      margin-bottom: 100px;

      h2 {
        color: #000;
        font-family: "tt-bold";
        font-size: 50px;
        font-weight: 900;
        line-height: 60px;
        margin: 0;
      }

      p {
        color: #757575;
        font-family: "tt-bold";
        font-size: 34px;
        font-weight: 500;
        line-height: 49.3px;
        margin: 0;
      }
    }

    &__item {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 120px;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-width: 55px;
        min-height: 50px;
        margin-bottom: 33px;
      }

      h3 {
        color: #000000;
        font-family: "tt-bold";
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 0.5px;
        line-height: 26.4px;
        margin: 0 0 16px 0;
      }

      p {
        color: #4d4d4d;
        font-family: "tt-reg";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 19.2px;
        margin: 0;
        max-width: 280px;
      }
    }

    &__button {
      width: 100%;
      height: auto;
      position: relative;


      a {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        border: 2px solid #192df5;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 0.2px;
        line-height: 19.2px;
        margin: 0 auto;
        padding: 0;
        font-family: "tt-bold";
        border-radius: 50px;
        max-width: 260px;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #192df5;
        transition: all .3s ease-in-out;

        &:hover {
          color: #fff;
          background-color: #192df5;
          transition: all .3s ease-in-out;
        }
      }
    }
  }
}

.whywe-count {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 220px;
  background-color: #f2f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 154px;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__item {
      width: 100%;
      height: auto;
      position: relative;

      h2 {
        color: #000000;
        font-family: "tt-bold";
        font-size: 34px;
        font-weight: 900;
        line-height: 40.8px;
        margin: 0 0 8px 0;
      }

      p {
        color: #4d4d4d;
        font-family: "tt-reg";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 27.9px;
        margin: 0;
        max-width: 200px;
      }
    }
  }
}

.feedback {
  width: 100%;
  height: auto;
  position: relative;
  display: block;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__title {
      width: 100%;
      height: auto;
      position: relative;
      margin-bottom: 124px;

      h2 {
        color: #000;
        font-family: "tt-bold";
        font-size: 50px;
        font-weight: 900;
        line-height: 60px;
        margin: 0;
      }
    }

    &__text {
      width: 100%;
      height: auto;
      position: relative;

      &__object {
        width: 100%;
        height: auto;
        position: relative;

        &__name {
          width: 100%;
          height: auto;
          position: relative;
          display: flex;
          align-items: center;
          margin-bottom: 35px;

          img {
            width: 100%;
            height: auto;
            max-width: 60px;
            min-height: 60px;
            object-fit: cover;
            border-radius: 50%;
          }

          &__position {
            width: 100%;
            height: auto;
            position: relative;
            margin-left: 20px;

            h3 {
              color: #000000;
              font-family: "tt-bold";
              font-size: 22px;
              font-weight: 900;
              letter-spacing: 0.5px;
              line-height: 26.4px;
              margin: 0 0 8px 0;
            }

            p {
              color: #4d4d4d;
              font-family: "tt-reg";
              font-size: 16px;
              font-weight: 400;
              letter-spacing: -0.2px;
              line-height: 27.9px;
              margin: 0;
            }
          }
        }

        p {
          color: #4d4d4d;
          font-family: "tt-reg";
          font-size: 18px;
          font-weight: 400;
          letter-spacing: -0.2px;
          line-height: 27.9px;
          margin: 0;
        }
      }
    }

    &__percent {
      width: 100%;
      height: auto;
      position: relative;
      max-width: 100%;
      min-height: 153px;
      border-radius: 8px;
      background-color: #f2f7fc;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 30px;
      flex-direction: column;
      top: 15px;

      h3 {
        color: #000000;
        font-family: "tt-bold";
        font-size: 34px;
        font-weight: 900;
        line-height: 40.8px;
        margin: 0;
      }

      p {
        color: #4d4d4d;
        font-family: "tt-reg";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 27.9px;
        margin: 0;
      }
    }
  }
}

.form-block {
  width: 100%;
  height: auto;
  position: relative;
  display: block;

  &__main {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 124px;

    &__form {
      width: 100%;
      height: auto;
      position: relative;
      max-width: 760px;
      min-height: 847px;
      box-shadow: 0 20px 24px rgba(0, 0, 0, 0.03), 0 40px 120px rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      background-color: #ffffff;
      padding: 84px 40px 54px 40px;
      margin: 0 auto;

      h2 {
        color: #000000;
        font-family: "tt-bold";
        font-size: 64px;
        font-weight: 900;
        line-height: 70.4px;
        margin: 0 0 20px 0;
        text-align: center;
      }

      p {
        color: #4d4d4d;
        font-family: "tt-reg";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 27.9px;
        margin: 0;
        text-align: center;
        margin-bottom: 50px;
      }

      input {
        border-bottom: 2px solid #e6e6e6;
        width: 100%;
        height: auto;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 0px 10px 20px 10px;
        outline: none;
        color: #192df5;
        margin-bottom: 30px;
        font-family: tt-reg;
      }

      label {
        margin: 0;
        padding: 0 10px;
        color: #000000;
        font-family: "tt-reg";
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 14.4px;
      }
    }
  }
}

label.mail-label {
  color: #757575;
  font-family: "tt-reg";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 14.4px;
}

#submit {
  max-width: 210px;
  min-height: 60px;
  width: 100%;
  height: auto;
  border-radius: 50px;
  background-color: #192df5;
  color: #fff;
  outline: none;
  text-decoration: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
  display: block;
  margin: 30px auto 0;
  padding: 0;
  font-family: "tt-bold";

  &:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1);
  }
}

.b-answer {
  display: none;
}

.tab-style-1 {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 20px;
}

.main-tabs {
  position: relative;
  width: 100%;
  height: auto;

  padding: 124px 0;
  background-color: #3245fc;

  &__title {
    position: relative;
    width: 100%;

    h2 {
      color: #ffffff;
      font-family: "tt-bold";
      font-size: 50px;
      font-weight: 900;
      line-height: 60px;
      margin: 0 0 89px 0;
    }
  }

  a {
    color: #ffffff;
    font-family: "tt-reg";
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 0.5px;
    line-height: 26.4px;
    text-decoration: none;
    border-bottom: 2px solid #c1c7fe;
    width: 100%;
    display: block;
    padding: 20px 0 26px 0;

  }
}

.b-answer {
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  padding-left: 30px;

  p {
    color: #ffffff;
    font-family: "tt-reg";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 27.9px;
  }
}

.footer {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  background-color: #212121;
  padding: 72px 0;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__logo {
      width: 100%;
      height: auto;
      position: relative;

      a {
        text-decoration: none;
        width: 100%;
        height: auto;
        min-height: 40px;
        position: relative;

        img {
          width: 100%;
          height: auto;
          max-width: 90px;
          object-fit: contain;
        }
      }
    }

    &__info {
      width: 100%;
      height: auto;
      position: relative;

      p {
        opacity: 0.74;
        color: #ffffff;
        font-family: "tt-reg";
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        margin: 0;
        max-width: 500px;
        margin-right: 0;
        width: 100%;
        margin-left: auto;
        text-align: right;
      }
    }

    &__navs {
      width: 100%;
      height: auto;
      position: relative;

      ul {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;

        li {
          width: 100%;
          height: auto;
          position: relative;
          max-width: 144px;
          text-align: left;
          list-style: none;

          a {
            color: #ffffff;
            font-family: "tt-reg";
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.2px;
            line-height: 19.2px;
            text-decoration: none;
            padding: 0 0 5px 0;
          }
        }
      }
    }

    &__socials {
      width: 100%;
      height: auto;
      position: relative;

      a {
        margin-right: 30px;
        text-decoration: none;

        &:last-child {
          margin-right: 0;
        }

        img {
          object-fit: contain;
        }
      }
    }
  }
}

.header-social {
  display: none;
}


.parent-container {
  width: 100%;
}

.faq {
  list-style: none;
  padding: 0;

  li {
    border-bottom: 2px solid #c1c7fe;
    margin-bottom: 47px;

    &.active {
      .answer {
        max-height: 275px !important;
        padding-bottom: 20px;

        transition: max-height 0.5s ease, padding-bottom 0.5s ease;
      }

      .question {
        color: #fff;
        transition: color 0.5s ease;
      }
    }
  }

  .answer {
    color: #fff;
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 27.9px;
    max-height: 0;
    font-family: "tt-reg";
    overflow: hidden;
    max-width: 900px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
  }

  .plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 21px;
    right: 2%;
    top: 50%;
    z-index: 2;

    &:before,
    &:after {
      background: #fff;
      content: '';
      height: 4px;
      left: 0;
      position: absolute;
      top: 0;
      width: 24px;
      transition: transform 500ms ease;
    }

    &:after {
      transform-origin: center;
    }

    &.collapsed {
      &:after {
        transform: rotate(90deg);
      }

      &:before {
        transform: rotate(180deg);
      }
    }
  }

  .question {
    color: #ffffff;
    font-family: "tt-reg";
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 0.5px;
    line-height: 26.4px;
    transition: color 0.5s ease;
    position: relative;
    cursor: pointer;
    margin-bottom: 25px;
  }
}

.white-bg-active {
  background-color: #fff !important;

}

.banner {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  min-height: 820px;
  margin-top: 0;
  padding-top: 155px;
  margin-bottom:60px;

  &:after {
    content: url("../img/banner-bg.png");
    display: block;
    position: absolute;
    top: -100%;
    width: 100%;
    height: auto;
    right: 28%;
    width: 1372px;
    height: 1281px;
    z-index: -1;
  }

  &__info {
    display: block;
    position: relative;
    width: 100%;
    height: auto;

    h1 {
      color: #000000;
      font-family: "tt-bold";
      font-size: 64px;
      font-weight: 900;
      margin: 0 0 20px 0;

      span {
        color: #192df5;
        font-family: "tt-reg";
        font-size: 64px;
        font-weight: 900;
        margin: 0;
      }
    }

    p {
      color: #4d4d4d;
      font-family: "tt-reg";
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -0.2px;
      line-height: 27.9px;
      margin-bottom: 40px;
      max-width: 460px;
    }

    &__buttons {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      a {
        max-width: 197px;
        min-height: 60px;
        width: 100%;
        height: auto;
        border-radius: 50px;
        background-color: #192df5;
        color: #fff;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 0.2px;
        line-height: 19.2px;
        transition: all .3s ease-in-out;
        font-family: "tt-bold";
        border: 2px solid transparent;
        &:hover {
          background-color: #fff;
          color: #192df5;
          border: 2px solid #192df5;
          transition: all .3s ease-in-out;
        }

        &:last-child {
          background-color: transparent;
          color: #192df5;
          &:hover {
            color: #192df5;
            background-color: transparent;
            border: 2px solid transparent;
          }
        }
      }
    }
  }

  &__image {
    width: 58.5vw;
    height: 100%;
    position: absolute;
    left: -23%;
    top: 0;
    z-index: 0;
    height: auto;
    z-index: 100;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width:768px) {
  .collapse.show {
    height: 100vh;
  }
  .navbar {
    padding: 0 0 0 0;
  }
  .mobile-flex-banner {
    flex-direction: column-reverse;
  }
  .navbar-collapse {
    margin-top: 40px;
  }

  .header-social {
    display: block;
    margin-bottom: 0;

    a {
      text-decoration: none;
      margin-right: 40px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .nav-item:hover:after {
    display: none;
  }

  .nav-item {
    margin-left: 0 !important;
    margin-bottom: 44px;
    padding-left: 0 !important;

    a {
      font-family: 'tt-reg';
      font-weight: 900;
      font-size: 22px;
      line-height: 120%;
      color: rgba(0, 0, 0, 1) !important;
    }
  }

  .nav-order {
    margin: 0 auto 100px;
    max-width: 100%;
    display: flex;
    justify-content: center;

    a {
      width: 320px;
      max-width: 320px;
      height: auto;
      min-height: 60px;
      font-size: 16px;
      font-family: 'tt-reg';
      font-weight: 900;
    }
  }

  #navbarSupportedContent {
    text-align: center;
  }

  .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
    transform: translateY(7px) rotate(-45deg);
  }

  .navigation-wrap {
    padding: 0;
    background-color: transparent;
  }

  .navbar-light .navbar-toggler-icon:after,
  .navbar-light .navbar-toggler-icon:before {
    width: 22px;
    height: 3px;
    border-radius: 3px;
  }

  .navbar-light .navbar-toggler-icon {
    border-bottom: 3px solid #000;
    width: 22px;
  }

  .navbar-light .navbar-toggler-icon:after {
    top: 7px;
  }

  .navigation-wrap {
    display: block;
    padding: 12px 0 0 0;
    min-height: 72px;
  }

  .banner {
    min-height: auto;
    margin-top: 0;
    padding-top: 72px;
    margin-bottom: 40px;
  
    &:after {
      content: url("../img/banner-bg.png");
      position: absolute;
      width: 516px;
      height: 483px;
      left: 17%;
      top: -113%;
    }
  
    &__info {
      margin-top: 20px;
  
      h1 {
        font-size: 34px;
        font-weight: 900;
        margin: 0 0 20px 0;
        line-height: 120%;
        text-align: center;
  
        span {
          font-size: 34px;
          font-weight: 900;
        }
      }
  
      p {
        font-family: "tt-reg";
        font-weight: normal;
        font-size: 18px;
        line-height: 155%;
        text-align: center;
        letter-spacing: -0.2px;
      }
  
      &__buttons {
        flex-direction: column;
  
        a {
          max-width: 320px;
          min-height: 60px;
          width: 100%;
          height: auto;
          border-radius: 50px;
          background-color: #192df5;
          color: #fff;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          font-weight: 900;
          letter-spacing: 0.2px;
          line-height: 19.2px;
          transition: all .3s ease-in-out;
          font-family: "tt-reg";
          border: 2px solid transparent;
        }
      }
    }
  
    &__image {
      width: 100%;
      height: 100%;
      position: relative;
      left: 0;
      top: 0;
  
      img {
        width: 461px;
        height: 276px;
      }
    }
  }

  .home-portfolio {
    &__main {
      &__title {
        margin-bottom: 75px;
  
        h2 {
          font-size: 36px;
          font-weight: 900;
          line-height: 120%;
          margin: 0 0 0 0;
        }
      }
  
      &__item-img {
        min-height: auto;
        border-radius: 20px;
        margin-bottom: 62px;
        &:before {
          content: '';
          width: 100%;
          background-image: url(../img/portfolio-after.png);
          height: auto;
          position: absolute;
          display: block;
          left: 5%;
          top: -10%;
          z-index: -1;
          width: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 0 0;
          height: 260px;
        }
  
        img {
          width: 100%;
          height: 210px;
          max-height: 100%;
        }
      }
  
      &__item-info {
        width: 100%;
        height: auto;
        position: relative;
  
        h3 {
          color: #000000;
          font-family: "tt-med";
          font-size: 22px;
          font-weight: 900;
          letter-spacing: 0.5px;
          line-height: 26.4px;
          margin-bottom: 16px;
        }
  
        p {
          font-size: 18px;
          line-height: 155%;
          margin-bottom: 24px;
        }
  
        a {
          font-size: 16px;
          line-height: 120%;
        }
      }
    }
  }

  .padding-bottom-100 {
    padding-bottom: 94px;
  }
  .padding-bottom-165 {
    padding-bottom: 0;
  }


  .hiw {
    padding: 64px 0 40px 0;
    margin-bottom: 0;
    margin-top: 64px;
  
    &__main {
  
      &__title {
  
        h2 {
          font-size: 34px;
          line-height: 120%;
          margin-bottom: 48px;
        }
      }
  
      &__item {
  
        &:after {
          content: '';
          width: 2px;
          height: 40px;

        }
  
        h3 {
          font-size: 22px;
          line-height: 120%;
          margin-bottom: 8px;
          font-family: "tt-med";
        }
  
        p {
          font-size: 16px;
          line-height: 120%;
  
          span {
            color: #d3d3d3;
            font-family: "tt-reg";
            font-size: 16px;
            font-weight: 900;
          }
        }
      }
  
      &__button {
        margin-top: 64px;
  
        a {
          font-size: 16px;
          line-height: 120%;
  
          &:before {
            content: '';
            border-bottom: 2px solid #2539ff;
            padding: 0 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            transition: 0.3s;
          }
        }
      }
    }
  }


  .whywe {
    margin-bottom: 56px;
    margin-top: 64px;
  
    &__main {
      &__title {
        margin-bottom: 48px;
        text-align: center;
  
        h2 {
          font-size: 34px;
          line-height: 120%;
        }
  
        p {
          font-size: 22px;
          line-height: 120%;
          font-family: "tt-med";
        }
      }
  
      &__item {
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        text-align: center;
  
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
          max-width: 55px;
          min-height: 50px;
          margin-bottom: 12px;
        }
  
        h3 {
          font-size: 22px;
          line-height: 120%;
          font-family: "tt-med";
        }
  
        p {
          font-size: 18px;
          line-height: 155%;
        }
      }
  
      &__button {
        a {
          max-width: 234px;
        }
      }
    }
  }

  .whywe-count {
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 56px;
    padding: 36px 0 0 0;
  
    &__main {
  
      &__item {
        text-align: center;
        margin-bottom: 32px;
  
        h2 {
          font-size: 22px;
          line-height: 120%;
          margin-bottom: 4px;
          font-family: "tt-med";
        }
  
        p {
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }

.margin-bottom-124 {
  margin-bottom: 64px;
}
  .feedback {
    &__main {
      &__title {
        margin-bottom: 48px;

        h2 {
          font-size: 34px;
          line-height: 120%;
          text-align: center;
        }
      }

      &__text {
  
        &__object {
          
          &__name {
            align-items: center;
            margin-bottom: 35px;
  
            &__position {
              margin-left: 16px;
  
              h3 {
                font-size: 22px;
                line-height: 120%;
                margin-bottom: 8px;
                font-family: "tt-med";
              }
  
              p {
                font-size: 16px;
                line-height: 120%;
                letter-spacing: 0.2px;
                color: #757575;
              }
            }
          }
  
          p {
            font-size: 18px;
            line-height: 155%;
            letter-spacing: -0.2px;
            font-feature-settings: 'liga' off;
            color: #4D4D4D;
          }
        }
      }
  
      &__percent {
        padding: 20px 24px;
  
        h3 {
          font-size: 34px;
          line-height: 120%;
          margin-bottom: 4px;
          font-family: "tt-med";
        }
  
        p {
          font-size: 18px;
          line-height: 155%;
          letter-spacing: -0.2px;
          font-feature-settings: 'liga' off;
          color: #4D4D4D;
        }
      }
    }
  }

  .form-block {
    &__main {
      padding-bottom: 56px;
  
      &__form {
        min-height: auto;
        padding:0 20px  36px 20px ;
  
        h2 {
          font-size: 34px;
          line-height: 120%;
          text-align: center;
          color: #000000;
          margin-bottom: 4px;
        }
  
        p {
          font-size: 18px;
          line-height: 155%;
          text-align: center;
          letter-spacing: -0.2px;
          font-feature-settings: 'liga' off;
          color: #757575;
          font-family: "tt-med";
          margin: 0 0 40px 0;
        }
  
        input {
          margin-bottom: 16px;
          padding: 0 10px 16px 10px;
        }
  
        label {
          margin: 0;
          padding: 0 10px;
          color: #000000;
          font-family: "tt-reg";
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.2px;
          line-height: 14.4px;
        }
      }
    }
  }

  .main-tabs {
    padding: 40px 0;
  
    &__title {
  
      h2 {
        font-size: 34px;
        line-height: 120%;
        margin-bottom: 40px;
        line-height: 50px;
      }
    }
  
    a {
      font-size: 22px;
      line-height: 120%;
      letter-spacing: 0.5px;
      color: #FFFFFF;
    }
  }
  .faq {
    li {
      margin-bottom: 24px;
    }
  
    .answer {
      color: #fff;
      font-size: 18px;
      letter-spacing: -0.2px;
      line-height: 27.9px;
      max-height: 0;
      font-family: "tt-reg";
      overflow: hidden;
      max-width: 900px;
      transition: max-height 0.5s ease, padding-bottom 0.5s ease;
    }
  
    .plus-minus-toggle {
      cursor: pointer;
      height: 21px;
      position: absolute;
      width: 21px;
      right: 2%;
      top: 50%;
      z-index: 2;
  
      &:before,
      &:after {
        background: #fff;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        top: 0;
        width: 24px;
        transition: transform 500ms ease;
      }
  
      &:after {
        transform-origin: center;
      }
  
      &.collapsed {
        &:after {
          transform: rotate(90deg);
        }
  
        &:before {
          transform: rotate(180deg);
        }
      }
    }
  
    .question {
      margin-bottom: 16px;
      font-family: "tt-med";
    }
  }

  .footer {
    padding: 56px 0 40px 0;
  
    &__main {
  
      &__logo {
        text-align: center;
        margin-bottom: 42px;
        a {
          display: block;
          height: auto;
          img {
            max-width: 100px;
          }
        }
      }
  
      &__info {
  
        p {
          font-size: 16px;
          line-height: 120%;
          letter-spacing: 0.2px;
          text-align: center;
        }
      }
  
      &__navs {
        width: 100%;
        height: auto;
        position: relative;
  
        ul {
          flex-direction: column;

  
          li {
            max-width: 100%;
            margin-bottom: 32px;
            text-align: center;
            a {
              font-size: 16px;
              line-height: 120%;
              text-align: center;
              letter-spacing: 0.2px;
            }
          }
        }
      }
  
      &__socials {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          margin-right: 30px;
          text-decoration: none;
  
          &:last-child {
            margin-right: 0;
          }
  
          img {
            object-fit: contain;
          }
        }
      }
    }
  }

}

@media screen and (min-width:768.99px) and (max-width:992px) {
  .hide-block {
    display: none;
  }
  .navbar-light .navbar-toggler-icon:after, .navbar-light .navbar-toggler-icon:before {
    width: 22px;
    position: absolute;
    height: 3px;
  }
  .navbar-light .navbar-toggler-icon {
    width: 22px;
    border-bottom: 3px solid #000;
  }
  .navbar-light .navbar-toggler-icon:after {
    top: 7px;
  }

  .mobile-flex-banner {
    flex-direction: column-reverse;
  }
  .banner {
    margin-top: 0;
    margin-bottom: 62px;
    padding-top: 21px;

    &:after {
      content: "";
      width: 787px;
    height: 737px;
    top: -110px;
      max-height: initial;
      right: -42px;
      background-image: url(../img/banner-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__info {
      width: 541px;
      margin: 0 auto;
      text-align: center;
      h1 {
        font-size: 50px;

        span {
          font-size: 40px;
        }
      }

      p {
        font-size: 16px;
        margin: 0 auto 30px;
      }

      &__buttons {
        flex-direction: column;
        a {
          min-height: 45px;
          font-size: 14px;
          max-width: 320px;
          min-height: 60px;
          margin-bottom: 20px;
          font-size: 16px;
          line-height: 120%;

          &:last-child {
            background-color: #fff;
            color: #192df5;
            margin-bottom: 0;
          }
        }
      }
    }

    &__image {
      width: 100%;
      margin-top: 100px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;

      img {
        object-fit: cover;
        left: -15px;
        width: 696px;
        height: 420px;
        position: relative;
      }
    }
  }

  .padding-bottom-165 {
    padding-bottom: 0;
  }
  .home-portfolio {
    margin-top: 60px;
    padding-bottom: 24px;
    margin-bottom: 0;

    &__main {

      &__title {
        margin-bottom: 40px;
        z-index: 2;


        h2 {
          font-size: 50px;
        }
      }

      &__item-img {
        min-height: auto;
        margin-bottom: 30px;
        width: auto;
        height: 291px;

        &:before {
          position: absolute;
          display: block;
          left: 5%;
          top: -10%;
          z-index: -1;
          width: 330px;
          height: 337px;
          background-image: url(../img/portfolio-after.png);
          background-repeat: no-repeat;
          background-size: contain;
 
        }
        img {
          width: 100%;
          height: 291px;
        }
      }

      &__item-info {
        h3 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }

        a {
          font-size: 14px;

          img {
            width: 12px;
            height: 11px;
            position: relative;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .padding-bottom-100 {
    padding-bottom: 68px;
  }

  .hiw {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 88px 0 40px 0;

    &__main {
      &__title {
        h2 {
          font-size: 50px;
          line-height: 120%;
          margin: 0 0 40px 0;
        }
      }

      &__item {
        &:after {
          content: '';
          height: 40px;
          margin: 20px auto;
        }

        h3 {
          font-size: 22px;
          line-height: 120%;
          margin-bottom: 8px;
        }

        p {
          font-size: 16px;
          line-height: 120%;
          margin-bottom: 16px;
        }
      }

      &__button {
        margin-top: 48px;
        a {
          margin: 0 auto 0;
        }
      }
    }
  }

  .whywe {
    margin-bottom: 30px;
    margin-top: 72px;

    &__main {
      &__title {
        margin-bottom: 64px;

        h2 {
          font-size: 50px;
          line-height: 120%;
          text-align: center;
        }

        p {
          font-size: 34px;
          line-height: 145%;
          line-height: 24.3px;
          text-align: center;
          font-family: "tt-med";
        }
      }

      &__item {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;

        img {
          max-width: 40px;
          min-height: 35px;
          margin-bottom: 10px;
        }

        h3 {
          font-size: 22px;
          line-height: 120%;
          margin-bottom: 8px;
        }

        p {
          font-size: 18px;
          line-height: 155%;
        }
      }

      &__button {
        a {
          max-width: 200px;
          min-height: 50px;
          font-size: 14px;
        }
      }
    }
  }

  .whywe-count {
    margin-top: 60px;
    margin-bottom: 72px;
    padding: 36px 0;

    &__main {
      &__item {
margin-bottom: 0;

        padding: 10px 0;
        text-align: center;

        h2 {
          font-size: 22px;
          line-height: 120%;
          margin: 0 0 5px 0;
        }

        p {
          font-size: 18px;
          line-height: 155%;
          margin: 0;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  .feedback {
    margin-bottom: 10px;
    &__main {
      &__title {
        margin-bottom: 50px;

        h2 {
          font-family: "tt-reg";
          line-height: 40px;
          font-size: 30px;
          text-align: center;
        }
      }

      &__text {
        &__object {
          margin-bottom: 15px;

          &__name {
            margin-bottom: 20px;

            &__position {
              h3 {
                font-size: 22px;
                line-height: 120%;
              }

              p {
                font-size: 16px;
                line-height: 120%;
                margin: 0;
              }
            }
          }

          p {
            font-size: 18px;
            line-height: 155%;
            margin: 0;
          }
        }
      }

      &__percent {
        padding: 15px;
        min-height: 130px;
        margin-bottom: 0;

        h3 {
          font-size: 34px;
          line-height: 120%;
        }

        p {
          font-size: 18px;
          line-height: 155%;
        }
      }
    }
  }
  .margin-bottom-124 {
    margin-bottom: 61px;
  }

  .form-block {
    margin-top: 0;

    &__main {
      padding-bottom: 70px;

      &__form {
        padding: 34px;
        min-height: auto;
        max-width: 538px;

        h2 {
          font-size: 64px;
          line-height: 110%;
          margin: 0 0 8px 0;
          text-align: center;
        }

        p {
          font-size: 18px;
          line-height: 155%;
          margin-bottom: 54px;
        }

        input {
          padding: 10px;
          outline: none;
          margin-bottom: 36px;
          font-size: 14px;
        }
      }
    }
  }


  ::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 15.2px;
  }

  ::-moz-placeholder {
    font-size: 14px;
    line-height: 15.2px;
  }

  :-ms-input-placeholder {
    font-size: 14px;
    line-height: 15.2px;
  }

  :-moz-placeholder {
    font-size: 14px;
    line-height: 15.2px;
  }

  #submit {
    max-width: 210px;
    min-height: 60px;
    margin: 25px auto 0;
    font-size: 16px;
line-height: 120%;
  }

  .main-tabs {
    padding: 56px 0 40px 0;

    &__title {
      h2 {
        font-size: 50px;
        line-height: 120%;
        margin: 0 0 40px 0;
        text-align: left;
      }
    }

    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 20.4px;
      padding: 10px 0;
    }
  }

  .b-answer {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    padding-left: 30px;

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 20.9px;
    }
  }

  .faq li {
    margin-bottom: 30px;
  }
  .faq .question {
    margin-bottom: 23px;
  }
  .footer {
    padding: 56px 0 40px 0;

    &__main {
      &__logo {
        margin-bottom: 40px;
        text-align: center;
      }

      &__info {
        p {
          font-size: 16px;
          line-height: 20px;
          max-width: 500px;
          text-align: center;
          margin: 0 auto;
        }
      }

      &__navs {
        ul {
          align-items: center;
          justify-content: center;
          flex-direction: column;

          li {
            width: 100%;
            height: auto;
            position: relative;
            text-align: center;
            max-width: 100%;
            margin-bottom: 32px;

            &:last-of-type {
              margin-bottom: 0;
            }

            a {
              font-size: 16px;
              line-height: 19.2px;
              padding: 0;
            }
          }
        }
      }

      &__socials {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        a {
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }

          img {
            object-fit: contain;
          }
        }
      }
    }
  }

  .nav-order {
    padding: 0 0 20px 0;
  }
}

@media screen and (min-width:992.99px) and (max-width:1400px) {

  .nav-item {
    margin-left: 35px !important;
  }

  .nav-order a {
    font-size: 14px !important;
    max-width: 225px;
  }

  .banner {
    min-height: auto;
    margin-bottom: 100px;

    &:after {
      content: url("../img/banner-bg.png");
      top: -180%;
      max-height: initial;
      right: -76%;
    }

    &__info {
      h1 {
        font-size: 50px;

        span {
          font-size: 50px;
        }
      }

      p {
        font-size: 16px;
        margin-bottom: 30px;
      }

      &__buttons {
        a {
          min-height: 45px;
          font-size: 14px;

          &:last-child {
            background-color: #fff;
            color: #192df5;
            margin-bottom: 0;
          }
        }
      }
    }

    &__image {
      width: 100%;
      margin-top: 40px;
      position: relative;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  .home-portfolio {
    margin-top: 60px;
    padding-bottom: 24px;
    margin-bottom: 0;

    &__main {
      &__title {
        margin-bottom: 40px;
        z-index: 2;

        h2 {
          font-size: 40px;
        }
      }

      &__item-img {
        min-height: auto;
        margin-bottom: 30px;

        &:before {
          content: url(../img/portfolio-after.png);
          display: none;
        }
      }

      &__item-info {
        h3 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }

        a {
          font-size: 16px;

          img {
            width: 12px;
            height: 11px;
            position: relative;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .padding-bottom-100 {
    padding-bottom: 50px;
  }

  .hiw {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 0;

    &__main {
      &__title {
        h2 {
          font-size: 40px;
          margin: 0 0 25px 0;
        }
      }

      &__item {
        &:after {
          content: '';
          height: 40px;
          margin: 20px auto;
        }

        h3 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }
      }

      &__button {
        a {
          margin: 10px auto 0;
        }
      }
    }
  }

  .whywe {
    margin-bottom: 50px;

    &__main {
      &__title {
        margin-bottom: 60px;

        h2 {
          font-size: 40px;
          line-height: 40px;
          text-align: left;
        }

        p {
          font-size: 18px;
          line-height: 24.3px;
          text-align: left;
        }
      }

      &__item {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;

        img {
          max-width: 40px;
          min-height: 35px;
          margin-bottom: 10px;
        }

        h3 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }
      }

      &__button {
        a {
          max-width: 200px;
          min-height: 50px;
          font-size: 16px;
        }
      }
    }
  }

  .whywe-count {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px 0;

    &__main {
      &__item {
        padding: 10px 0;
        text-align: center;

        h2 {
          font-size: 30px;
          line-height: 30.8px;
          margin: 0 0 5px 0;
        }

        p {
          font-size: 16px;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  .feedback {
    &__main {
      &__title {
        margin-bottom: 50px;

        h2 {
          font-family: "tt-reg";
          line-height: 40px;
          font-size: 40px;
          text-align: left;
        }
      }

      &__text {
        margin-bottom: 60px;

        &__object {
          margin-bottom: 15px;

          &__name {
            margin-bottom: 20px;

            &__position {
              h3 {
                font-size: 18px;
                line-height: 22.4px;
              }

              p {
                font-size: 16px;
                line-height: 20.9px;
                margin: 0;
              }
            }
          }

          p {
            font-size: 16px;
            line-height: 25.9px;
            margin: 0;
          }
        }
      }

      &__percent {
        padding: 15px;
        min-height: 130px;
        margin-bottom: 40px;

        h3 {
          font-size: 25px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }


  .form-block {
    &__main {
      &__form {
        padding: 25px;
        min-height: auto;

        h2 {
          font-size: 40px;
          line-height: 45px;
          margin: 0;
          text-align: center;
        }

        p {
          font-size: 16px;
          line-height: 20.9px;
          margin-bottom: 20px;
        }

        input {
          padding: 10px;
          outline: none;
          margin-bottom: 20px;
          font-size: 16px;
        }
      }
    }
  }


  ::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 15.2px;
  }

  ::-moz-placeholder {
    font-size: 16px;
    line-height: 15.2px;
  }

  :-ms-input-placeholder {
    font-size: 16px;
    line-height: 15.2px;
  }

  :-moz-placeholder {
    font-size: 16px;
    line-height: 15.2px;
  }

  #submit {
    max-width: 200px;
    min-height: 50px;
    margin: 10px auto 0;
  }

  .main-tabs {
    padding: 60px 0;

    &__title {
      h2 {
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 30px 0;
        text-align: left;
      }
    }

    a {
      font-size: 18px;
      font-weight: 400;
      line-height: 20.4px;
      padding: 10px 0;
    }
  }

  .b-answer {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    padding-left: 30px;

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 20.9px;
    }
  }
}

@media screen and (min-width:1400.99px) and (max-width:1600px) {
  .banner {
    &::after {
      top: -95%;
      right: 24%;
    }

    &__image {
      position: relative;
    }
  }

  .home-portfolio__main__item-img:before {
    top: -16%;
  }
}

@media screen and (min-width:1600.99px) and (max-width:2000px) {
  .banner {
    &::after {
      top: -56%;
      right: -15%;
    }

    &__image {
      position: relative;
    }
  }

  .home-portfolio__main__item-img:before {
    top: -23%;
  }
}

@media screen and (min-width:2000.99px) and (max-width:2400px) {
  .banner {
    &::after {
      top: -86%;
      right: 36%;
    }

    &__image {
      position: relative;
    }
  }

  .home-portfolio__main__item-img:before {
    top: -15%;
  }
}