{{#org-feedback}}
<section class="feedback" id="feedback">
  <div class="container">
    <div class="feedback__main">
      <div class="feedback__main__title">
        <h2>Відгуки клієнтів</h2>
      </div>
    {{> ../molecules/feedback-item}}
    </div>
  </div>
</section>
{{/org-feedback}}