{{#org-howitworks}}
<section class="hiw" id="hiw" style="background-image: url(assets/img/hitw.png);">
  <div class="container">
    <div class="hiw__main">
      <div class="hiw__main__title">
        <h2>Як це працює?</h2>
      </div>
      <div class="row hiw-global">
        {{> ../molecules/howitworks-item}}

        <div class="hiw__main__button">
          <a href="#">
            Замовити сайт
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{/org-howitworks}}