{{#org-tabs}}
<section class="main-tabs">
  <div class="container">
    <div class="main-tabs__title">
      <h2>
        Не часті, але задаваємі питання
      </h2>
    </div>

    <div class="main-tabs__container parent-container">
      <ul class="main-tabs__container__faq faq">
        <li>
          <h3 class="main-tabs__container__faq__question question">
            Які сайти ви робите?
            <div class="plus-minus-toggle collapsed"></div>
          </h3>
          <div class="main-tabs__container__faq__answer answer">Answer. Donec vitae tellus risus. Aenean sed fermentum
            risus. Phasellus venenatis
            ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed
            fermentum risus. Phasellus venenatis ultricies dignissim.</div>
        </li>

        <li>
          <h3 class="main-tabs__container__faq__question question">
            Чому ви працюєте на вихідних?
            <div class="plus-minus-toggle collapsed"></div>
          </h3>
          <div class="main-tabs__container__faq__answer answer">Answer. Donec vitae tellus risus. Aenean sed fermentum
            risus. Phasellus venenatis
            ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed
            fermentum risus. Phasellus venenatis ultricies dignissim.</div>
        </li>

        <li>
          <h3 class="main-tabs__container__faq__question question">
            Чи можу я повернути гроші, або відмовитись?
            <div class="plus-minus-toggle collapsed"></div>
          </h3>
          <div class="main-tabs__container__faq__answer answer">Answer. Donec vitae tellus risus. Aenean sed fermentum
            risus. Phasellus venenatis
            ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed
            fermentum risus. Phasellus venenatis ultricies dignissim.</div>
        </li>

        <li>
          <h3 class="main-tabs__container__faq__question question">
            Що таке Гарантія 365?
            <div class="plus-minus-toggle collapsed"></div>
          </h3>
          <div class="main-tabs__container__faq__answer answer">Answer. Donec vitae tellus risus. Aenean sed fermentum
            risus. Phasellus venenatis
            ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed
            fermentum risus. Phasellus venenatis ultricies dignissim.</div>
        </li>

        <li>
          <h3 class="main-tabs__container__faq__question question">
            Як відбувається оплата?
            <div class="plus-minus-toggle collapsed"></div>
          </h3>
          <div class="main-tabs__container__faq__answer answer">Answer. Donec vitae tellus risus. Aenean sed fermentum
            risus. Phasellus venenatis
            ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed
            fermentum risus. Phasellus venenatis ultricies dignissim.</div>
        </li>
      </ul>
    </div>

  </div>
</section>
{{/org-tabs}}