{{#org-whywe}}
<section class="whywe" id="whywe">
  <div class="container">
    <div class="whywe__main">
      <div class="whywe__main__title" data-aos="fade-up">
        <h2>Чому ми?</h2>
        <p>Або що ви отримаєте</p>
      </div>
      <div class="row">
        {{> ../molecules/whywe-item}}
      </div>
      <div class="whywe__main__button" data-aos="fade-up">
        <a href="#">
          Замовити сайт
        </a>
      </div>
    </div>
  </div>
</section>
{{/org-whywe}}